<div class="footer">
  <div class="footerLeft">
    <div class="header_logo">
      <a href="/homepage.html">
        <img src="/images/lightlogo.png" alt="logo" id="footerLight" />
      </a>
      <a href="/homepage.html">
        <img src="/images/darklogo.png" alt="logo" id="footerDark" />
      </a>
    </div>
  </div>
  <div class="footerMid">
    <div>
      <h3>RESOURCES</h3>
      <div>
        <p>partners</p>
        <p>glossary</p>
        <p>training</p>
        <p>support</p>
      </div>
    </div>
    <div>
      <h3>COMPANY</h3>
      <div>
        <p>about us</p>
        <p>why dataScene</p>
        <p>accessibility</p>
      </div>
    </div>

    <div>
      <h3>SOCIAL</h3>
      <div>
        <p>linkedIn</p>
        <p>instagram</p>
      </div>
    </div>

    <div>
      <h3>POLICIES</h3>
      <div class="policies">
        <div>
          <p>legal policies</p>
          <p>privacy & cookie notice</p>
          <p>trademarks</p>
        </div>
        <div>
          <p>terms of use</p>
          <p>legal agreements</p>
          <p>product terms</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footerRight">
    <p>@ Copyright</p>
  </div>
</div>
